.section {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 100px;
}

.container > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.about {
  font-size: 24px;
}

.skillsTitle {
  color: white;
  text-align: center;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -300% 50%;
  }
}

.profileImgWrapper {
  width: fit-content;
  border-radius: 50%;
  padding: 3px;

  background-image: linear-gradient(
    to right,
    rgb(128, 0, 128),
    rgb(0, 0, 255),
    rgb(255, 0, 0),
    rgb(128, 0, 128)
  );

  background-size: 400% 100%;
  display: inline-block;
  animation: rotateGradient 6s linear infinite;
}

.profileImg {
  width: 400px;
  border-radius: 50%;
  display: block;
}

.softCircle {
  transform-origin: center center;
  background-image: linear-gradient(to right top, #ff0000, #800080, #0000ff);
  position: absolute;
  left: 50%;
  border-radius: 20px;
  transform: skewY(15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  width: 900px;
  height: 600px;
  filter: blur(100px);
  opacity: 0.4;
  top: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.softCircle:hover {
  transform: skewY(15deg) translate(-50%, -50%) scale(0.9) translateZ(0);
}

.info {
  position: relative;
}

@media (max-width: 1400px) {
  .container {
    padding: 20px;
    flex-direction: column-reverse;
  }
  .section {
    height: auto;
  }
  .about {
    font-size: 12px;
    text-wrap: balance;
  }
  .profileImg {
    width: 200px;
    border-radius: 50%;
    display: block;
  }
  .softCircle {
    transform-origin: center center;
    background-image: linear-gradient(to right top, #ff0000, #800080, #0000ff);
    position: absolute;
    left: 50%;
    border-radius: 20px;
    transform: skewY(15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
    width: 300px;
    height: 200px;
    filter: blur(100px);
    opacity: 0.4;
    top: 70%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
}
