.btnGradAnchor {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.btnGrad {
  background-image: linear-gradient(
    to right,
    #0a0a61 0%,
    #f54f4f 51%,
    #800080 100%
  );
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 20px #eeeeeea9;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.btnGrad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


@media (max-width: 768px) {
  .btnGrad {
    padding: 10px 20px;
  }
}
